.topBox {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  color: #fff;
}

.numBg {
  height: 148px;
  width: 370px;
  padding: 30px;
}

.trainNumBg {
  background: url(../../../../../statics/images/productService/trainNum.png);
}

.coachNum {
  background: url(../../../../../statics/images/productService/coachNum.png);
}

.studentNum {
  background: url(../../../../../statics/images/productService/studentNum.png);
}

.boxTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.boxNum {
  font-size: 38px;
}

.signTitle {
  font-size: 18px;
  color: #666666;
  margin: 50px 0 20px 0;
}

.chartBox {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 1200px;
}

.recharts-wrapper {
  width: 1200px;
  margin-top: 20px;
}

.tooltipBox {
  background: url(../../../../../statics/images/productService/lineBg.png) no-repeat;
  width: 108px;
  height: 64px;
  border: none;
  color: #fff;
  line-height: 20px;
  text-align: center;
  padding-top: 6px;
}
